.conan-mode-form {
  text-align: center;
}

.conan-skill-level-field {
  justify-content: space-evenly;
}

.conan-field {
  flex: 1;
}

.conan-skill-level-field {
  margin-bottom: 0;
}

.conan-radio-fields {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  grid-column-gap: 20px;
  grid-row-gap: 10px;
}

.conan-radio-fields input {
  margin-right: 5px;
}

.conan-radio-fields--dice-to-roll {
  width: 340px;
  justify-content: space-evenly;
  grid-auto-flow: initial;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 10px;
  position: relative;
  margin: 5px 0;
}

.conan-radio-fields--assistance {
  width: 250px;
  margin-bottom: 0;
}

.assistance .form-label {
  font-size: 14px;
}

.conan-mode-form .assistance .skill-level-field .form-control {
  font-size: 15px;
  height: 26px;
}

.assistance-title--container {
  background: transparent;
  border: 0;
  width: 100%;
  cursor: pointer;
  transition: 0.1s;
}

.assistance-title--container:hover {
  opacity: 0.8;
}

.assistance-title {
  margin-bottom: 5px;
  margin-top: 4px;
  font-size: 16px;
  text-align: center;
  color: #212529;
}

.conan-radio-fields--dice-to-roll input {
  margin: 0;
  display: none;
}

.conan-skill-level-field--assistance {
  margin-top: 4px;
  margin-bottom: 2px;
}



.fortune {
  padding: 3px 0 5px;
  margin: 3px 0 0;
  border-top: 1px solid #bebebe;
  border-bottom: 1px solid #bebebe;
}

.fortune-title {
  margin-bottom: 2px;
  margin-top: 0;
  font-size: 16px;
  text-align: center;
  color: #212529;
}

.conan-mode-form .skill-level-field .form-control {
  font-size: 18px;
  height: 34px;
  border-radius: 0;
}

.conan-mode-form .skill-level-field .form-group {
  margin-bottom: 0;
}

.conan-mode-form label {
  margin-bottom: 0;
}

.assistance-tooltip {
  position: absolute;
  top: 73px;
  right: 125px;
}
