.conan-mode-form {
  text-align: center;
}

.conan-skill-level-field {
  justify-content: space-evenly;
}

.conan-field {
  flex: 1;
}

.conan-skill-level-field {
  margin-bottom: 0;
}

.conan-radio-fields {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  grid-column-gap: 20px;
  grid-row-gap: 10px;
}

.conan-radio-fields input {
  margin-right: 5px;
}

.conan-radio-fields--dice-to-roll {
  width: 340px;
  justify-content: space-evenly;
  grid-auto-flow: initial;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 10px;
  position: relative;
  margin: 5px 0;
}

.conan-radio-fields--assistance {
  width: 250px;
  margin-bottom: 0;
}

.assistance {
  border-top: 1px solid #bebebe;
}

.assistance .form-label {
  font-size: 14px;
}

.conan-mode-form .assistance .skill-level-field .form-control {
  font-size: 15px;
  height: 26px;
}

.assistance-title--container {
  background: transparent;
  border: 0;
  width: 100%;
  cursor: pointer;
  transition: 0.1s;
}

.assistance-title--container:hover {
  opacity: 0.8;
}

.assistance-title {
  margin-bottom: 5px;
  margin-top: 4px;
  font-size: 16px;
  text-align: center;
  color: #212529;
}

.conan-radio-fields--dice-to-roll input {
  margin: 0;
  display: none;
}

.conan-skill-level-field--assistance {
  margin-top: 4px;
  margin-bottom: 2px;
}

.fortune,
.complication-range {
  padding: 3px 0 5px;
  margin: 3px 0 0;
  border-top: 1px solid #bebebe;
  border-bottom: 0;
}

.fortune-title,
.complication-range-title {
  margin-bottom: 2px;
  margin-top: 0;
  font-size: 16px;
  text-align: center;
  color: #212529;
}

.complication-range-input-container {
  padding-top: 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 140px;
  margin: 0 auto;
}

.complication-range-input-legend {
  margin-top: -1px;
  font-size: 15px;
  display: flex;
  justify-content: space-around;
}

.complication-range-label {
  cursor: pointer;
  width: 10px;
  display: inline-block;
}

.complication-range-label--active {
  font-weight: bold;
  color: #0175ff;
}

.conan-mode-form .skill-level-field .form-control {
  font-size: 18px;
  height: 34px;
  border-radius: 0;
}

.conan-mode-form .skill-level-field .form-group {
  margin-bottom: 0;
}

.conan-mode-form label {
  margin-bottom: 0;
}

.assistance-tooltip {
  position: absolute;
  top: 73px;
  right: 125px;
}

.complication-range-description {
  font-weight: bold;
  color: #0175ff;
  font-variant: small-caps;
}

.range-tooltip .tooltip-inner {
  max-width: 460px;
}

.range-tooltip-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border-bottom: 1px solid #1d1d1d;
}

.range-tooltip-table-header {
  font-variant: all-petite-caps;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 14px;
  padding-bottom: 5px;
}