.container {
	padding-top: 5px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.orContainer {
	width: 100%;
	text-align: center;
	position: relative;
	font-size: .8rem;
}

.orContainer:before {
	width: 100%;
	content: '';
	display: block;
	position: absolute;
	background: #bebebe;
	height: 1px;
	top: 0;
	bottom: 0;
	margin: auto;
	left: 0;
	right: 0;
}

.or {
	display: inline-block;
	text-transform: uppercase;
	padding: 1px 6px;
	background: #fff;
	color: #444444;
	position: relative;
}

.row {
	width: 100%;
	position: relative;
	text-align: center;
}

.rollItem {
	font-size: 19px !important;
	width: 32px;
	opacity: .6;
	cursor: pointer;
	transition: .1s;
}

.rollItem:hover,
.rollItem.active:hover {
	opacity: .8;
}

.rollItem.active {
	opacity: 1;
	box-shadow: inset 0 0 0px 1px black;
}

.rerollInfo {
	font-size: 15px;
	margin-bottom: 2px;
}

.selectItems {
	margin-bottom: 7px;
	border-top: 1px solid #bebebe;
}
