.percent-icon-container {
	position: relative;
}

.percent-icon {
	position: absolute;
	right: -22px;
	font-size: 18px;
	top: 18px;
	color: #6e6e6e;
}

.form-invalid .percent-icon{
	color: #dc3545;
}

.tooltip-fast-sl-icon {
	color: #7c7c7c;
}

.tooltip-fast-sl .tooltip-inner {
	text-align: left;
}

.tooltip-failed {
	color: #dc3545
}

.tooltip-success {
	color: #3cb778;
}

.specialSLContainer {
	margin-bottom: 15px;
}

.specialSLContainer input {
	margin-right: 10px;
}

.specialSLContainer label {
	display: block;
	margin-bottom: 0;
}

.skill-level-field--with-range {
	display: flex;
	flex-direction: column;
	align-items: center;
}
