.container {
	position: relative;
}

.rowResults {
	padding: 15px 10px 5px;
	border-radius: 10px;
	background: #f9f9f9;
}

.cell {
	margin-bottom: 10px;
}

.rowToRight {
	display: flex;
	justify-content: flex-end;	
}

.recalculateRow {
	margin-top: 15px;
	margin-bottom: 10px;
}

.cellCenter {
	display: flex;
	justify-content: flex-end;
	padding: 5px;
	align-items: center;
}

.equalsIcon {
	font-size: 28px;
}

.buttonIcon {
	margin-right: 8px;
	font-size: 16px;
}

.separator {
	position: relative;
	border-top: 2px solid rgba(0,0,0,.125);
	height: 20px;
	margin-top: 25px;
	margin-bottom: 15px;
}

.checkboxContainer {
	margin-bottom: 0;
}

.checkbox input,
.checkbox label {
	cursor: pointer;
}

.checkbox input {
	margin-top: 6px;
}

.buttonsContainerOperations {
	position: absolute;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 20px;
	top: -30px;
	background: #fff;
	padding: 10px 0 10px 15px;
	right: 0;
}

.buttonsContainer {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 20px;
}

.buttonIcon {
	cursor: pointer
}

.buttonMuted {
	background: grey;
	border-color: grey;
	opacity: 0.6;
}

.infoTooltip {
	position: absolute;
	top: 3px;
	left: 138px;
	z-index: 9;
}

.infoTooltipContainer :global(.tooltip-inner) {
	padding-top: 15px;
	padding-bottom: 10px;
	max-width: 420px;
	text-align: left;
	font-weight: bold;
}

.gold {
	color: gold;
}

.silver {
	color: silver;
}

.brass {
	color: #ad6314;
}

@media only screen and (min-width: 480px) {
	.row {
		display: grid;
		grid-template-columns: 150px 1fr 1fr 1fr;
		grid-column-gap: 10px;
	}
}