#conan-mode-form {
	text-align: center;
}

.conan-skill-level-field {
	justify-content: space-evenly;
}

#conan-mode-form label {
	margin-bottom: 1px;
}

.conan-skill-level-field {
	margin-bottom: 0;
}

.conan-field-icon {
	display: none;
	font-size: 1rem;
	color: #7c7c7c
}

.conan-radio-fields {
	display: flex;
	justify-content: center;;
}

.conan-radio-fields input {
	margin-right: 5px;
}

.conan-radio-fields label {
	margin-right: 10px;
}

.fortune {
	padding-top: 5px;
	margin-top: 10px;
	padding-bottom: 5px;
	margin-bottom: 10px;
	border-top: 1px solid #bebebe;
	border-bottom: 1px solid #bebebe;
}

.fortune-title {
	margin-bottom: 0;
	margin-top: 0;
	font-size: 18px;
	text-align: center;
}

.assistance-title {
	margin-bottom: 8px;
	margin-top: 0;
	font-size: 16px;
	text-align: center;
}

.dice {
	margin-bottom: 10px;
}

.dice-title {
	margin-bottom: 0;
	margin-top: 10px;
	font-size: 25px;
	text-align: center;
}

.dice-row {
	display: flex;
	justify-content: space-around;
	width: 70%;
	margin: 0 auto 15px;
}

.dice-icon {
	font-size: 50px;
	color: #7e7e7e;
	cursor: pointer;
	opacity: .8;
}

.die-container {
	display: inline-block;
	position: relative;
}

.dice-icon.active {
	color: #28a745;
	opacity: 1;
}

.dice-icon.hovered {
	color: #bebebe;
	opacity: 1;
}

.dice-icon.active.hovered {
	color: #1ad345;
	opacity: 1;
}

/* assistance-dice-row */
.assistance-dice-row.dice-row {
	width: 50%;
}
.assistance-dice-row .dice-icon {
	font-size: 38px;
}
.assistance-dice-row .dice-icon.active {
	color: #b8551c;
	opacity: 1;
}
.assistance-dice-row .dice-icon.active.hovered {
	color: #da8e2c;
	opacity: 1;
}
.assistance-dice-row .dice-icon.hovered {
	color: #bebebe;
	opacity: 1;
}

.die-fortune-point {
	font-size: 23px;
	position: absolute;
	top: 9px;
	margin: 0 auto;
	right: 8px;
	font-weight: bold;
	display: inline-block;
	background: white;
	border-radius: 50%;
	width: 32px;
	height: 32px;
	text-align: center;
	line-height: 31px;
	color: darkolivegreen;
	pointer-events: none;
	display: none;
}

.die-fortune-point.show {
	display: inline-block;
}

@media only screen and (min-width: 480px) {
	.conan-field-icon {
		display: inline-block;
	}

	.conan-radio-fields {
	
	}
	
}