#conan-mode-form {
	text-align: center;
}

.conan-skill-level-field {
	justify-content: space-evenly;
}

.conan-skill-level-field {
	margin-bottom: 0;
}

.conan-field-icon {
	display: none;
	font-size: 1rem;
	color: #7c7c7c;
	cursor: pointer;
}

.conan-field-icon-times {
	font-size: 24px;
	opacity: .8;
}

.conan-field-icon-times:hover {
	color: #bebebe;
	opacity: 1;
}

.conan-radio-fields {
	display: flex;
	justify-content: center;;
}

.conan-radio-fields input {
	margin-right: 5px;
}

.conan-radio-fields label {
	margin-right: 10px;
}

.fortune {
	padding: 2px 0;
	margin: 3px 0;
	border-top: 1px solid #bebebe;
	border-bottom: 1px solid #bebebe;
}

.fortune-title {
	margin-bottom: 0;
	margin-top: 0;
	font-size: 16px;
	text-align: center;
}

#conan-mode-form .skill-level-field .form-control{
	font-size: 18px;
	height: 34px;
}

#conan-mode-form .skill-level-field .form-group {
	margin-bottom: 0;
}

#conan-mode-form label {
	margin-bottom: 0;
}

.dice {
	margin-bottom: 2px;
}

.dice-title {
	margin-bottom: 0;
	margin-top: 4px;
	font-size: 17px;
	font-weight: bold;
	text-align: center;
}

.dice-row {
	display: flex;
	justify-content: space-around;
	width: 260px;
	margin: 0 auto 8px;
}

.dice-row-label {
	cursor: pointer;
	font-size: 15px;
}

.dice-icon {
	font-size: 44px;
	color: #7e7e7e;
	cursor: pointer;
	opacity: .8;
}

.die-container {
	display: inline-block;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.dice-icon.active {
	color: #28a745;
	opacity: 1;
}

.dice-icon.hovered {
	color: #bebebe;
	opacity: 1;
}

.dice-icon.active.hovered {
	color: #1ad345;
	opacity: 1;
}

/* assistance-dice-row */
.assistance-title {
	margin-bottom: 6px;
	margin-top: 0;
	font-size: 16px;
	text-align: center;
}

.assistance-dice-row.dice-row {
	width: 200px;
	margin: 0;
}
.assistance-dice-row .dice-icon {
	font-size: 35px;
}
.assistance-dice-row .dice-icon.active {
	color: #b8551c;
	opacity: 1;
}
.assistance-dice-row .dice-icon.active.hovered {
	color: #da8e2c;
	opacity: 1;
}
.assistance-dice-row .dice-icon.hovered {
	color: #bebebe;
	opacity: 1;
}

.die-fortune-point {
	font-size: 21px;
	position: absolute;
	top: 9px;
	margin: 0 auto;
	right: 6px;
	font-weight: bold;
	display: inline-block;
	background: white;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	text-align: center;
	line-height: 31px;
	color: darkolivegreen;
	pointer-events: none;
	display: none;
}

.die-fortune-point.show {
	display: inline-block;
}

@media only screen and (min-width: 480px) {
	.conan-field-icon {
		display: inline-block;
	}

	.conan-radio-fields {
	
	}
	
}