.torModalBody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.tnContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 20px;
    padding-bottom: 30px;
    width: 150px;
    margin: 15px auto 0;
}

.tnInput {
    width: 70px;
    height: 60px;
    text-align: center;
    font-size: 25px;
    border: 0;
}

.tnContainer:after {
    position: absolute;
    content: "";
    display: block;
    border: 2px solid #858585;
    width: 70px;
    height: 70px;
    transform: rotate(45deg);
    top: 15px;
    left: 0;
    right: 0;
    margin: auto;
}

.tnInfoIcon {
    position: absolute;
    top: 17px;
    right: 24px;
}

.subheader {
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 5px;
    color: #6c6c6c;
    letter-spacing: 1px;
    font-weight: 400;
    border-top: 1px solid #bebebe;
}

.checkboxContainer {
    display: flex;
    justify-content: center;
}

.checkboxContainer * + * {
    margin: 0 10px;
}
