.container {
    margin: 10px 0 15px;
    text-align: left;
    display: flex;
    padding: 0 10px;
}

.iconsRow {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-flex;
}

.iconContainer {
    margin-left: 8px;
    cursor: pointer;
    font-size: 19px;
    opacity: .4;
}

.iconSelected {
    opacity: 1;
}

@media only screen and (max-width: 480px) {
    .container {
        flex-direction: column;
        text-align: center;
    }

    .iconsRow {
        margin-top: 5px;
        justify-content: center;
    }

    .iconContainer {
        margin-left: 15px;
        font-size: 20px;
    }
}
