.logo {
	height: 35px;
	display: none;
}

.logo-small {
	height: 35px;
}

.icon-settings {
	font-size: 25px;
	margin-left: 15px;
	color: #212529;
}

.navbar {
	padding: 0.3rem 1rem;
}

@media only screen and (min-width: 480px) {
	.logo-small {
		display: none;
	}
	.logo {
		display: inline-block;
	}
}

@media only screen and (min-width: 960px) {
	.logo {
		height: auto;
	}
	.icon-settings {
		font-size: 35px;
	}
}