.active {
  color: #007bff;
}

.title {
  position: relative;
  transition: 0.1s;
}

.indicator {
  font-size: 8px;
  position: absolute;
  right: -10px;
  top: -2px;
  transition: 0.1s;
  color: #007bff;
}

.visible {
  opacity: 1;
}

.invisible {
  opacity: 0;
}
