:root {
	--dice-size: 90px;
	--dice-size-mobile: 50px;
}

.dice {
	display: flex;
	justify-content: center;
	flex-direction: row;
}

.dice .card-body {
	padding: 5px;
	position: relative;
}

.dice .card-footer {
	border-top: 0;
	width: 165px;
}

.dice .btn {
	min-width: 123px;
}

.dice__extra-mark {
	position: absolute;
	background: #007bff;
	color: #fff;
	padding: 5px 10px;
	top: 10px;
	right: auto;
	left: 10px;
	border-radius: 50%;
	font-size: 17px;
	pointer-events: none;
}

.dice__image {
	width: 100%;
	height: 100%;
	background-size: var(--dice-size-mobile);
	background-position: center center;
	background-repeat: no-repeat;
	cursor: pointer;
	opacity: .8;
	transition: .2s;
}

.dice__image:hover {
	opacity: 1;
}

.dice--d100SL .dice__image {
	background-image: url('../../img/d100.png');
	filter: hue-rotate(210deg) contrast(1.6);
}
.dice--d5 .dice__image {
	background-image: url('../../img/d10.png');
	filter: hue-rotate(75deg);
}
.dice--d100 .dice__image { background-image: url('../../img/d100.png') }
.dice--d20 .dice__image { background-image: url('../../img/d20.png') }
.dice--d12 .dice__image { background-image: url('../../img/d12.png') }
.dice--d10 .dice__image { background-image: url('../../img/d10.png') }
.dice--d8 .dice__image {  background-image: url('../../img/d8.png') }
.dice--d6 .dice__image {  background-image: url('../../img/d6.png') }
.dice--d4 .dice__image {  background-image: url('../../img/d4.png') }

.dice--d20conan .dice__image { background-image: url('../../img/d20conan.png') }
.dice--d20conan-test .dice__image { background-image: url('../../img/d20conan-test.png') }
.dice--d20conan-hl .dice__image { background-image: url('../../img/d20conan-hl.png') }
.dice--d6conan .dice__image {  background-image: url('../../img/d6conan.png') }

@media only screen and (min-width: 480px) {
	.dice {
		flex-direction: column;
	}
	.dice .card-body {
		padding: 1.25rem;
	}
	.dice .card-footer {
		border-top: 1px solid rgba(0,0,0,.125);
		width: auto;
	}
	.dice__image {
		height: var(--dice-size);
		background-size: var(--dice-size);
	}
	.dice__extra-mark {
		top: 14px;
		right: 5px;
		left: auto;
		font-size: 20px;
	}
}

@media only screen and (min-width: 960px) {
	.dice {
		flex-direction: column;
	}
	.dice .card-body {
		padding: 1.25rem;
	}
	.dice .card-footer {
		border-top: 1px solid rgba(0,0,0,.125);
	}
	.dice__image {
		height: var(--dice-size);
		background-size: var(--dice-size);
	}
}