:root {
	--dice-size: 90px;
	--dice-size-mobile: 50px;
}

.dice {
	display: flex;
	justify-content: center;
	flex-direction: row;
}

.dice .card-body {
	padding: 5px;
	position: relative;
}

.dice .card-footer {
	border-top: 0;
	width: 165px;
}

.dice .btn {
	min-width: 123px;
	min-height: 38px;
	line-height: 14px;
	white-space: normal;
}

.dice__extra-mark {
	position: absolute;
	background: #007bff;
	color: #fff;
	padding: 5px 10px;
	top: 10px;
	right: auto;
	left: 10px;
	border-radius: 50%;
	font-size: 17px;
	pointer-events: none;
}

.dice__image {
	width: var(--dice-size-mobile);
	height: var(--dice-size-mobile);
	cursor: pointer;
	opacity: .8;
	transition: .2s;
}

.dice__image:hover {
	opacity: 1;
}

.dice--d100SL .dice__image {
	filter: hue-rotate(210deg) contrast(1.6);
}
.dice--d5 .dice__image {
	filter: hue-rotate(75deg);
}

@media only screen and (min-width: 480px) {
	.dice {
		flex-direction: column;
	}
	.dice .card-body {
		padding: 1.25rem;
	}
	.dice .card-footer {
		border-top: 1px solid rgba(0,0,0,.125);
		width: auto;
	}
	.dice__image {
		height: var(--dice-size);
		width: var(--dice-size);
	}
	.dice__extra-mark {
		top: 14px;
		right: 5px;
		left: auto;
		font-size: 20px;
	}
	.dice .btn {
		min-width: 82px;
	}
}

@media only screen and (min-width: 960px) {
	.dice {
		flex-direction: column;
	}
	.dice .card-body {
		padding: 1.25rem;
	}
	.dice .card-footer {
		border-top: 1px solid rgba(0,0,0,.125);
	}
	.dice__image {
		height: var(--dice-size);
		width: var(--dice-size);
	}
	.dice .btn {
		min-width: 123px;
	}
}