.notificationToast {
	position: fixed;
	bottom: 10px;
	right: 20px;
	z-index: 10;
	background-color: #fff;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
}

.notificationHeader {
	color: #000;
}

.notificationList {
	list-style: circle;
	text-align: left;
	margin-bottom: 0;
	padding-left: 30px;
}

.notificationBody {
	padding: 6px 12px 11px;	
}

.notificationListModifier {
	list-style: none;
	font-weight: bold;
	margin-bottom: 2px;
	margin-left: -30px;
}