.table {
	margin: 5px 0 6px;
	text-align: center;
	width: 271px;
}

.td {
	padding: 0 !important;
	font-weight: bold;
}

.label {
	width: 100%;
	margin: 0 !important;
	cursor: pointer;
	transition: .1s;
	padding: 2px;
	font-size: 15px;
	font-weight: 600;
}

.input {
	display: none;
}

.simple {
	color: #3cb778;
}
.simple:hover,
.simple.active {
	background: #3cb778;
	color: #fff;
}

.average {
	color: #33804e;
}
.average:hover,
.average.active {
	background: #33804e;
	color: #fff;
}

.challenging {
	color: #FFD700;
}
.challenging:hover,
.challenging.active {
	background: #fff700;
	color: #333;
}

.daunting {
	color: #ffa500;
}
.daunting:hover,
.daunting.active {
	background: #ffa500;
	color: #fff;
}

.dire {
	color: #F17C21;
}
.dire:hover,
.dire.active {
	background: #F17C21;
	color: #fff;
}

.epic {
	color: #E25241;	
}
.epic:hover,
.epic.active {
	background: #E25241;	
	color: #fff;
}

@media only screen and (min-width: 480px) {
	.table {
		width: 349px;
	}
}
