:root {
	--header-bg-failure: #E25241;
	--header-bg: #3CB778;
	--header-color: #fff;
}

.resultsModalHeader {
	height: 100px;
	background: var(--header-bg);
	color: var(--header-color);
	display: block;
	text-align: center;
	position: relative;
}

.resultsModalTitle {
	text-align: center;
	font-weight: bold;
	color: var(--header-color);
	margin: 2px 0 0;
}

.isFailure {
	background: var(--header-bg-failure);
}

.resultsList {
	list-style: none;
	text-align: left;
	margin-bottom: 0;
	padding-left: 0;
}

:global(.modal-content) {
	box-sizing: content-box;
}

.resultsModalHeader :global(.close) {
	color: var(--header-color);
	position: absolute;
	top: 10px;
	right: 10px;
}

.resultsModalDiceIcon {
	margin: 0 auto;
	font-size: 46px;
}

.pushedTitle {
	text-align: center;
	font-weight: bold;
	margin-bottom: 2px;
	font-size: 1.1rem;
	text-decoration: underline;
}

.resultsBody {
	font-size: 1rem;
}

.generalResult {
	text-align: center;
	font-weight: bold;
}

.generalResultSuccess {
	color: var(--header-bg);
}

.generalResultFailure {
	color: var(--header-bg-failure);
}

.slResult {
	margin-top: 1px;
	border-top: 1px solid #bebebe;
	padding-top: 1px;
	text-align: center;
}

.slResultLabel {
	font-weight: bold;
	font-size: 16px;
}

.inactive {
	opacity: .6;
}

.assistanceIcon {
	position: absolute;
	right: 10px;
	margin: auto;
	top: 0;
	bottom: 0;
	color: #7c7c7c;
}

.slResultSpan {
	font-size: 18px;
	min-width: 33px;
}

.momentumResults {
	display: flex;
	justify-content: space-evenly;
}

.rollResults {
	border-bottom: 1px solid #bebebe;
	padding-bottom: 5px;
	margin-bottom: 5px;
}

.conanRollResults {
	text-align: center;
}

.conanResultDetails {
	line-height: 15px;
}

.resultDetailsRow {
	margin: 0;
}

.assistanceResult {
	margin: 0 0 5px;
	padding-bottom: 4px;
	font-size: 0.9rem;
	border-bottom: 1px solid #bebebe;
	line-height: 17px;
	position: relative;
}

.assistanceResultRow {
	margin: 0;
}

.poolResultsBlock {
	border-bottom: 1px solid #bebebe;
	padding-bottom: 5px;
	margin-bottom: 5px;
}

.resultsBlock {
	display: flex;
}

.resultsBlockImage {
	width: 40px;
	height: auto;
}

.resultsBlockImageContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-right: 5px;
}

.resultsBlockContentContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.poolModifierResult {
	padding-bottom: 3px;
	margin-bottom: 5px;
	border-bottom: 1px solid #bebebe;
}

@media only screen and (min-width: 480px) {
	.resultsBody {
		font-size: 1.1rem;
	}
	.pushedTitle {
		margin-bottom: 5px;
		font-size: 1.3rem;
	}
	.slResult {
		margin-top: 5px;
		padding-top: 5px;
	}
	.resultsBlockImage {
		width: 45px;
	}
}