.skill-level-field {
  display: flex;
  justify-content: center;
  text-align: center;
}

.skill-level-field .form-control {
  width: 85px;
  text-align: center;
  margin: 0 auto;
  font-size: 28px;
}

.skill-level-field .form-group {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skill-level-field__cthulhu-group {
  display: flex
}

.percent-icon-container {
  position: relative;
}

.percent-derived-values {
  display: flex;
  flex-direction: column;
}

.skill-level-field .skill-level-field__cthulhu-group__main-input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding: .5rem 28px .5rem 1rem;
}

.form-control.is-invalid.skill-level-field__cthulhu-group__main-input,
.was-validated .form-control.skill-level-field__cthulhu-group__main-input:invalid {
  background-image: none;
  padding: .5rem 28px .5rem 1rem;
}

.skill-level-field .percent-derived-values__input {
  width: 55px;
  height: 30px;
  font-size: 15px;
  border-left: 0;
}

.skill-level-field .percent-derived-values__input--half {
  border-bottom: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.percent-derived-values__input--fifth {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
}

.percent-icon {
  position: absolute;
  font-size: 18px;
  top: 18px;
  color: #838383;
}

.skill-level-field__cthulhu-group .percent-icon {
  right: 10px;
}

.form-invalid .percent-icon {
  color: #dc3545;
}

.cthulhu-checkboxes-row {
  margin-top: 20px;
}

.cthulhu-select-to-sheet__container {
  display: flex;
  justify-content: center;
  border-top: 1px solid #bebebe;
  margin-top: 5px;
  padding-top: 10px;
}

.cthulhu-select-to-sheet__list {
  -webkit-column-count: 1;
  -moz-column-count: 1;
  column-count: 1;
}

.cthulhu-select-to-sheet__list-separator {
  margin: 5px 10px;
  border-top: 1px solid lightgray;
}

.cthulhu-select-to-sheet__dropdown {
  width: 100%;
}

.cthulhu-select-to-sheet__button {
  width: 100%;
}

.cthulhu-select-to-sheet__times-icon {
  width: 45px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding-top: 5px;
  color: #252525;
  font-size: 19px;
  opacity: 0.5;
  transition: 0.2s;
}

.cthulhu-select-to-sheet__times-icon:hover {
  opacity: 1;
}

.cthulhu-select-to-sheet__item--selected {
  font-weight: bold;
  background: #d1ecf1;
}

@media only screen and (min-width: 480px) {
  .cthulhu-select-to-sheet__list {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}

@media only screen and (min-width: 640px) {
  .cthulhu-select-to-sheet__list {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }
}

@media only screen and (min-width: 960px) {
  .cthulhu-select-to-sheet__list {
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
  }
}

@media only screen and (min-width: 1180px) {
  .cthulhu-select-to-sheet__list {
    -webkit-column-count: 5;
    -moz-column-count: 5;
    column-count: 5;
  }
}
