body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

p {
	margin-bottom: 5px;
}

.pointer {
	cursor: pointer;
	opacity: .8;
	transition: .2s;
}

.pointer:hover {
	opacity: 1;
}

button:disabled,
button.disabled {
	cursor: not-allowed;
}

.custom-control-input:disabled~.custom-control-label,
.custom-control-input[disabled]~.custom-control-label {
	cursor: not-allowed;
}

.form-invalid .invalid-feedback {
	display: block;
}

.dropdown-item {
	padding: 0.2rem 1.5rem;
	font-size: 15px;
}
