.container {
	margin-top: 10px;
	margin-bottom: 10px;
}

.header {
	text-align: center;
	padding: 3px;
}

.body {
	text-align: center;
	position: relative;
}

.tooltip {
	display: none;
	position: absolute;
	right: -10px;
	top: 0;
	bottom: 0;
	margin: auto;
	color: #7c7c7c
}

.tooltipBody {
	text-align: left;
}

@media only screen and (min-width: 480px) {
	.tooltip {
		display: inline-block;
	}
}
